<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.sonder.scrbkend.mapper.ApiLogMapper">
    <!-- insertApiLog -->
    <insert id="insertApiLog">
        INSERT INTO api_log (api_path, http_method, start_time, spend_time, status, remote_addr)
        VALUES (#{apiPath}, #{httpMethod}, #{startTime}, #{spendTime}, #{status}, #{remoteAddr})
    </insert>

    <!-- pageQuery -->
    <select id="pageQuery">
        SELECT
            id, api_path, http_method, spend_time, status, remote_addr,
            to_char((api_log.start_time AT TIME ZONE 'Asia/Shanghai'), 'YYYY-MM-DD HH24:MI:SS') AS start_time
        FROM api_log
        <where>
            <if test="keyword != null and keyword != ''">
                AND api_path LIKE '%' || #{keyword} || '%'
            </if>
        </where>
        ORDER BY start_time DESC
    </select>
</mapper>