<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.sonder.scrbkend.mapper.UserMapper">
    <!-- insertUser -->
    <insert id="insertUser">
        INSERT INTO users (username, email, password, is_active, created)
        VALUES (#{username}, #{email}, #{password}, #{isActive}, #{created})
    </insert>

    <!-- pageQuery -->
    <select id="pageQuery" resultType="Users">
        SELECT * FROM users
        <where>
            <if test="keyword != null and keyword != ''">
                AND username LIKE '%' || #{keyword} || '%'
            </if>
        </where>
        ORDER BY created DESC
    </select>
</mapper>