<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.sonder.scrbkend.mapper.UserMapper">
    <!-- insertUser -->
    <insert id="insertUser">
        INSERT INTO users (username, email, password)
        VALUES (#{username}, #{email}, #{password})
    </insert>

    <!-- pageQuery -->
    <select id="pageQuery" resultType="Users">
        SELECT
            id, username, email, is_active,
            to_char((users.created AT TIME ZONE 'Asia/Shanghai'), 'YYYY-MM-DD HH24:MI:SS') AS created
        FROM users
        <where>
            <if test="keyword != null and keyword != ''">
            (username LIKE '%' || #{keyword} || '%' OR email LIKE '%' || #{keyword} || '%')
        </if>
        </where>
        ORDER BY created DESC
    </select>
</mapper>